
html{
    height : 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin : 0;
    padding : 0;
    width : 100%;
    height: 100%;
    position: relative;    
    background-color: thistle;
}

#stars{
    position : relative;
    margin: auto;
    background-color: #fff;
    display: block;
}

.data{
    color: red;
}